<div class="row execution-run">
    <div class="col-sm-12">
        <div class="panel panel-default{{ctrl.currentQuestion === questIndex ? '' : ' hidden'}}{{ctrl.answers[questIndex].state === 'error' ? ' panel-danger' : ctrl.answers[questIndex].state === 'success' ? ' panel-success' : ''}}" ng-repeat="quest in ctrl.questions" ng-init="questIndex = $index">
            <div class="panel-heading">
                <h3 class="panel-title">{{quest.question}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="answer in quest.answers" ng-init="answerIndex = $index">
                        <label ng-if="quest.type === 'checkbox'">
                            <input type="checkbox" checklist-model="ctrl.answers[questIndex].answer" checklist-value="answer"> {{answer}}</label>
                        <label ng-if="quest.type === 'radio'">
                            <input type="radio" ng-model="ctrl.answers[questIndex].answer" ng-value="answer"> {{answer}}</label>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-10 error-text-panel">{{ctrl.errorText}}</div>
                    <div class="col-sm-2 text-right">
                        <button class="btn btn-primary" type="button" ng-click="ctrl.answerQuestion($index)">Answer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>