.execution-run {
    .panel {
        &.panel-danger {
            .panel-footer {
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
            }
        }
        &.panel-success {
            .panel-footer {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }
        }
        .panel-body {
            ul.list-group {
                li.list-group-item {
                    > label {
                        font-weight: normal;
                    }
                }
            }
        }
        .panel-footer {
            .error-text-panel {
                font-weight: bold;
                margin-top: 7px;
            }
        }
        .panel-heading {
            * {
                font-weight: bold;
            }
        }
    }
}