/* line 4, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel.panel-danger .panel-footer {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

/* line 11, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel.panel-success .panel-footer {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

/* line 20, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel .panel-body ul.list-group li.list-group-item > label {
  font-weight: normal; }

/* line 27, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel .panel-footer .error-text-panel {
  font-weight: bold;
  margin-top: 7px; }

/* line 33, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel .panel-heading * {
  font-weight: bold; }

/*# sourceMappingURL=execution.run.css.map */