/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0 {
  padding: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0 {
  padding-top: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0 {
  padding-bottom: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0 {
  padding-left: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0 {
  padding-right: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_1 {
  padding: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_1 {
  padding-top: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_1 {
  padding-bottom: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_1 {
  padding-left: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_1 {
  padding-right: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_2 {
  padding: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_2 {
  padding-top: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_2 {
  padding-bottom: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_2 {
  padding-left: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_2 {
  padding-right: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_3 {
  padding: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_3 {
  padding-top: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_3 {
  padding-bottom: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_3 {
  padding-left: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_3 {
  padding-right: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_4 {
  padding: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_4 {
  padding-top: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_4 {
  padding-bottom: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_4 {
  padding-left: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_4 {
  padding-right: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_5 {
  padding: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_5 {
  padding-top: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_5 {
  padding-bottom: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_5 {
  padding-left: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_5 {
  padding-right: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_6 {
  padding: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_6 {
  padding-top: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_6 {
  padding-bottom: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_6 {
  padding-left: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_6 {
  padding-right: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_7 {
  padding: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_7 {
  padding-top: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_7 {
  padding-bottom: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_7 {
  padding-left: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_7 {
  padding-right: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_8 {
  padding: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_8 {
  padding-top: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_8 {
  padding-bottom: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_8 {
  padding-left: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_8 {
  padding-right: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-0_9 {
  padding: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-0_9 {
  padding-top: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-0_9 {
  padding-bottom: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-0_9 {
  padding-left: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-0_9 {
  padding-right: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1 {
  padding: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1 {
  padding-top: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1 {
  padding-bottom: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1 {
  padding-left: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1 {
  padding-right: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_1 {
  padding: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_1 {
  padding-top: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_1 {
  padding-bottom: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_1 {
  padding-left: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_1 {
  padding-right: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_2 {
  padding: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_2 {
  padding-top: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_2 {
  padding-bottom: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_2 {
  padding-left: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_2 {
  padding-right: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_3 {
  padding: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_3 {
  padding-top: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_3 {
  padding-bottom: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_3 {
  padding-left: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_3 {
  padding-right: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_4 {
  padding: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_4 {
  padding-top: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_4 {
  padding-bottom: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_4 {
  padding-left: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_4 {
  padding-right: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_5 {
  padding: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_5 {
  padding-top: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_5 {
  padding-bottom: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_5 {
  padding-left: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_5 {
  padding-right: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_6 {
  padding: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_6 {
  padding-top: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_6 {
  padding-bottom: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_6 {
  padding-left: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_6 {
  padding-right: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_7 {
  padding: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_7 {
  padding-top: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_7 {
  padding-bottom: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_7 {
  padding-left: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_7 {
  padding-right: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_8 {
  padding: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_8 {
  padding-top: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_8 {
  padding-bottom: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_8 {
  padding-left: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_8 {
  padding-right: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-1_9 {
  padding: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-1_9 {
  padding-top: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-1_9 {
  padding-bottom: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-1_9 {
  padding-left: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-1_9 {
  padding-right: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2 {
  padding: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2 {
  padding-top: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2 {
  padding-bottom: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2 {
  padding-left: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2 {
  padding-right: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_1 {
  padding: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_1 {
  padding-top: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_1 {
  padding-bottom: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_1 {
  padding-left: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_1 {
  padding-right: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_2 {
  padding: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_2 {
  padding-top: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_2 {
  padding-bottom: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_2 {
  padding-left: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_2 {
  padding-right: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_3 {
  padding: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_3 {
  padding-top: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_3 {
  padding-bottom: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_3 {
  padding-left: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_3 {
  padding-right: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_4 {
  padding: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_4 {
  padding-top: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_4 {
  padding-bottom: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_4 {
  padding-left: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_4 {
  padding-right: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_5 {
  padding: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_5 {
  padding-top: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_5 {
  padding-bottom: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_5 {
  padding-left: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_5 {
  padding-right: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_6 {
  padding: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_6 {
  padding-top: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_6 {
  padding-bottom: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_6 {
  padding-left: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_6 {
  padding-right: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_7 {
  padding: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_7 {
  padding-top: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_7 {
  padding-bottom: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_7 {
  padding-left: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_7 {
  padding-right: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_8 {
  padding: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_8 {
  padding-top: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_8 {
  padding-bottom: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_8 {
  padding-left: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_8 {
  padding-right: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-2_9 {
  padding: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-2_9 {
  padding-top: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-2_9 {
  padding-bottom: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-2_9 {
  padding-left: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-2_9 {
  padding-right: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3 {
  padding: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3 {
  padding-top: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3 {
  padding-bottom: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3 {
  padding-left: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3 {
  padding-right: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_1 {
  padding: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_1 {
  padding-top: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_1 {
  padding-bottom: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_1 {
  padding-left: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_1 {
  padding-right: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_2 {
  padding: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_2 {
  padding-top: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_2 {
  padding-bottom: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_2 {
  padding-left: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_2 {
  padding-right: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_3 {
  padding: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_3 {
  padding-top: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_3 {
  padding-bottom: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_3 {
  padding-left: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_3 {
  padding-right: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_4 {
  padding: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_4 {
  padding-top: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_4 {
  padding-bottom: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_4 {
  padding-left: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_4 {
  padding-right: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_5 {
  padding: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_5 {
  padding-top: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_5 {
  padding-bottom: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_5 {
  padding-left: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_5 {
  padding-right: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_6 {
  padding: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_6 {
  padding-top: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_6 {
  padding-bottom: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_6 {
  padding-left: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_6 {
  padding-right: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_7 {
  padding: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_7 {
  padding-top: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_7 {
  padding-bottom: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_7 {
  padding-left: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_7 {
  padding-right: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_8 {
  padding: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_8 {
  padding-top: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_8 {
  padding-bottom: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_8 {
  padding-left: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_8 {
  padding-right: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-3_9 {
  padding: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-3_9 {
  padding-top: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-3_9 {
  padding-bottom: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-3_9 {
  padding-left: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-3_9 {
  padding-right: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4 {
  padding: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4 {
  padding-top: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4 {
  padding-bottom: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4 {
  padding-left: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4 {
  padding-right: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_1 {
  padding: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_1 {
  padding-top: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_1 {
  padding-bottom: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_1 {
  padding-left: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_1 {
  padding-right: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_2 {
  padding: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_2 {
  padding-top: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_2 {
  padding-bottom: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_2 {
  padding-left: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_2 {
  padding-right: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_3 {
  padding: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_3 {
  padding-top: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_3 {
  padding-bottom: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_3 {
  padding-left: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_3 {
  padding-right: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_4 {
  padding: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_4 {
  padding-top: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_4 {
  padding-bottom: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_4 {
  padding-left: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_4 {
  padding-right: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_5 {
  padding: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_5 {
  padding-top: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_5 {
  padding-bottom: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_5 {
  padding-left: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_5 {
  padding-right: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_6 {
  padding: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_6 {
  padding-top: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_6 {
  padding-bottom: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_6 {
  padding-left: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_6 {
  padding-right: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_7 {
  padding: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_7 {
  padding-top: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_7 {
  padding-bottom: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_7 {
  padding-left: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_7 {
  padding-right: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_8 {
  padding: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_8 {
  padding-top: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_8 {
  padding-bottom: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_8 {
  padding-left: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_8 {
  padding-right: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-4_9 {
  padding: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-4_9 {
  padding-top: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-4_9 {
  padding-bottom: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-4_9 {
  padding-left: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-4_9 {
  padding-right: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-5 {
  padding: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-t-5 {
  padding-top: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-b-5 {
  padding-bottom: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-l-5 {
  padding-left: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/padding/paddings.scss */
.p-r-5 {
  padding-right: 5em; }

/*# sourceMappingURL=paddings.css.map */