@mixin padding($margin, $string) {
    $string: inspect($string);
    $index: str-index($string, '.');
    
    $i: '';
    $indexI: str-index($margin, '-');
    @if $indexI {
        $i: str-slice($margin, $indexI, $indexI + 1);
    }
    
    $s: $string;
    @if $index {
        $s: str-slice($string, 1, $index - 1) + '_' + str-slice($string, $index + 1);
    }
    
    .p#{$i}-#{$s} {
        #{$margin}: $string + 'em';
    }
}

$counter: 0;
@while $counter < 5 {
    @include padding('padding', $counter);
    @include padding('padding-top', $counter);
    @include padding('padding-bottom', $counter);
    @include padding('padding-left', $counter);
    @include padding('padding-right', $counter);
    $counter: $counter + 0.1;
}