<div class="modal-header">
    <h3 class="modal-title">{{ctrl.title}}</h3>
</div>
<div class="modal-body">
    {{ctrl.text}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.close()">OK</button>
</div>