<div class="setup-main" ng-controller="CategoryCtrl as ctrl">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Statistics</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="category in ctrl.categories">
               <td>{{category.name}}</td>
               <td>{{category.description}}</td>
               <td></td>
               <td>
                   <button type="button" class="btn btn-sm" ng-click="ctrl.editCategory(category.name, category.description)" ng-if="category.name !== 'Default'"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>
                   <button type="button" class="btn btn-sm" ng-click="ctrl.deleteCategory(category.name)" ng-if="category.name !== 'Default'"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button>
               </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-10 col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-default" ng-click="ctrl.callAddCategoryModal()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Category</button>
    </div>
  </div>
</div>