.set-main {
    .set-categories {
        padding: 0.2em;
        line-height: 1em;
        
        > span.glyphicon.glyphicon-chevron-right {
            font-size: 0.5em;
            margin-right: 2px;
            position: relative;
            top: -0.1em;
            height: 1em;
        }
    }
}