<div class="set-main" ng-controller="SetCtrl as ctrl">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Set Name</th>
            <th>Categories</th>
            <th>Description</th>
            <th>Statistics</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="set in ctrl.sets">
               <td>{{set.name}}</td>
               <td>
                   <div class="set-categories" 
                       ng-repeat="set in set.categories" 
                       data-toggle="tooltip" data-placement="right" title="{{set.description}}">
                       <span class="glyphicon glyphicon-chevron-right"></span>{{set.name}}
                   </div>
               </td>
               <td>{{set.description}}</td>
               <td></td>
               <td>
                   <button type="button" class="btn btn-sm" 
                       ng-click="ctrl.editSet(set.name, set.description, set.categories)">
                       <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                   </button>
                   <button type="button" class="btn btn-sm" 
                       ng-click="ctrl.deleteSet(set.name)">
                       <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                   </button>
               </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-10 col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-default" ng-click="ctrl.callAddSetModal()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Set</button>
    </div>
  </div>
</div>