/* line 2, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/setup/set/set.scss */
.set-main .set-categories {
  padding: 0.2em;
  line-height: 1em; }
  /* line 6, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/setup/set/set.scss */
  .set-main .set-categories > span.glyphicon.glyphicon-chevron-right {
    font-size: 0.5em;
    margin-right: 2px;
    position: relative;
    top: -0.1em;
    height: 1em; }

/*# sourceMappingURL=set.css.map */