pageheader.header {
    text-align: center;
    height: 10em;
    
    > div {
        border: thin solid black;
        height: 100%;
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    
    .header-logo {
        height: 100%;
        display: table-cell;
        padding-top: 2em;
        vertical-align: middle;
    }
    
    .header-claim {
        height: 100%;
        display: table-cell;
    }
}