/* line 1, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/header/header.scss */
pageheader.header {
  text-align: center;
  height: 10em; }
  /* line 5, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/header/header.scss */
  pageheader.header > div {
    border: thin solid black;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed; }
  /* line 13, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/header/header.scss */
  pageheader.header .header-logo {
    height: 100%;
    display: table-cell;
    padding-top: 2em;
    vertical-align: middle; }
  /* line 20, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/header/header.scss */
  pageheader.header .header-claim {
    height: 100%;
    display: table-cell; }

/*# sourceMappingURL=header.css.map */