<div ng-controller="HeaderCtrl">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 header-logo col-vcenter">
        <a href="/home"><img ng-src="{{header.logoSrc}}"/></a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 header-claim col-vcenter">
        <h1>{{header.nameShort}}</h1>
        <h2>{{header.nameLong}}</h2>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        
    </div>

</div>