<div class="container">
    <p>
        Version: 0.5 beta |
        <a href="mailto:soeren.liebich@gmail.com">&copy; S&ouml;ren Liebich</a> |
        <a href="https://twitter.com/liebsoer">@liebsoer</a>
    </p>
</div>