/* line 1, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/footer/footer.scss */
pagefooter.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5; }

/*# sourceMappingURL=footer.css.map */