$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.muchtra-content > div{
    padding-top: 2em;
}

label span.glyphicon.glyphicon-asterisk.mandatory {
    font-size: 10px;
    position: relative;
    top: -5px;
}

// Component styles are injected through grunt
// injector
@import 'execution/execution.scss';
@import 'execution/result/execution.result.scss';
@import 'execution/run/execution.run.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'overview/overview.scss';
@import 'preferences/preferences.scss';
@import 'setup/add-category/add-category.scss';
@import 'setup/add-question/add-question.scss';
@import 'setup/add-set/add-set.scss';
@import 'setup/category/category.scss';
@import 'setup/edit-category/edit-category.scss';
@import 'setup/edit-question/edit-question.scss';
@import 'setup/edit-set/edit-set.scss';
@import 'setup/question/question.scss';
@import 'setup/set/set.scss';
@import 'setup/setup.scss';
@import 'utils/style/margin/margins.scss';
@import 'utils/style/padding/paddings.scss';
@import '../components/footer/footer.scss';
@import '../components/header/header.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
// endinjector
