/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0 {
  margin: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0 {
  margin-top: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0 {
  margin-bottom: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0 {
  margin-left: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0 {
  margin-right: 0em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_1 {
  margin: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_1 {
  margin-top: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_1 {
  margin-bottom: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_1 {
  margin-left: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_1 {
  margin-right: 0.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_2 {
  margin: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_2 {
  margin-top: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_2 {
  margin-bottom: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_2 {
  margin-left: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_2 {
  margin-right: 0.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_3 {
  margin: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_3 {
  margin-top: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_3 {
  margin-bottom: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_3 {
  margin-left: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_3 {
  margin-right: 0.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_4 {
  margin: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_4 {
  margin-top: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_4 {
  margin-bottom: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_4 {
  margin-left: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_4 {
  margin-right: 0.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_5 {
  margin: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_5 {
  margin-top: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_5 {
  margin-bottom: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_5 {
  margin-left: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_5 {
  margin-right: 0.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_6 {
  margin: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_6 {
  margin-top: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_6 {
  margin-bottom: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_6 {
  margin-left: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_6 {
  margin-right: 0.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_7 {
  margin: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_7 {
  margin-top: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_7 {
  margin-bottom: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_7 {
  margin-left: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_7 {
  margin-right: 0.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_8 {
  margin: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_8 {
  margin-top: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_8 {
  margin-bottom: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_8 {
  margin-left: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_8 {
  margin-right: 0.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-0_9 {
  margin: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-0_9 {
  margin-top: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-0_9 {
  margin-bottom: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-0_9 {
  margin-left: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-0_9 {
  margin-right: 0.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1 {
  margin: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1 {
  margin-top: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1 {
  margin-bottom: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1 {
  margin-left: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1 {
  margin-right: 1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_1 {
  margin: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_1 {
  margin-top: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_1 {
  margin-bottom: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_1 {
  margin-left: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_1 {
  margin-right: 1.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_2 {
  margin: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_2 {
  margin-top: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_2 {
  margin-bottom: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_2 {
  margin-left: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_2 {
  margin-right: 1.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_3 {
  margin: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_3 {
  margin-top: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_3 {
  margin-bottom: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_3 {
  margin-left: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_3 {
  margin-right: 1.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_4 {
  margin: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_4 {
  margin-top: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_4 {
  margin-bottom: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_4 {
  margin-left: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_4 {
  margin-right: 1.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_5 {
  margin: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_5 {
  margin-top: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_5 {
  margin-bottom: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_5 {
  margin-left: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_5 {
  margin-right: 1.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_6 {
  margin: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_6 {
  margin-top: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_6 {
  margin-bottom: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_6 {
  margin-left: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_6 {
  margin-right: 1.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_7 {
  margin: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_7 {
  margin-top: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_7 {
  margin-bottom: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_7 {
  margin-left: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_7 {
  margin-right: 1.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_8 {
  margin: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_8 {
  margin-top: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_8 {
  margin-bottom: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_8 {
  margin-left: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_8 {
  margin-right: 1.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-1_9 {
  margin: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-1_9 {
  margin-top: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-1_9 {
  margin-bottom: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-1_9 {
  margin-left: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-1_9 {
  margin-right: 1.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2 {
  margin: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2 {
  margin-top: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2 {
  margin-bottom: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2 {
  margin-left: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2 {
  margin-right: 2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_1 {
  margin: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_1 {
  margin-top: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_1 {
  margin-bottom: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_1 {
  margin-left: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_1 {
  margin-right: 2.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_2 {
  margin: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_2 {
  margin-top: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_2 {
  margin-bottom: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_2 {
  margin-left: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_2 {
  margin-right: 2.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_3 {
  margin: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_3 {
  margin-top: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_3 {
  margin-bottom: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_3 {
  margin-left: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_3 {
  margin-right: 2.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_4 {
  margin: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_4 {
  margin-top: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_4 {
  margin-bottom: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_4 {
  margin-left: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_4 {
  margin-right: 2.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_5 {
  margin: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_5 {
  margin-top: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_5 {
  margin-bottom: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_5 {
  margin-left: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_5 {
  margin-right: 2.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_6 {
  margin: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_6 {
  margin-top: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_6 {
  margin-bottom: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_6 {
  margin-left: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_6 {
  margin-right: 2.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_7 {
  margin: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_7 {
  margin-top: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_7 {
  margin-bottom: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_7 {
  margin-left: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_7 {
  margin-right: 2.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_8 {
  margin: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_8 {
  margin-top: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_8 {
  margin-bottom: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_8 {
  margin-left: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_8 {
  margin-right: 2.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-2_9 {
  margin: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-2_9 {
  margin-top: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-2_9 {
  margin-bottom: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-2_9 {
  margin-left: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-2_9 {
  margin-right: 2.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3 {
  margin: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3 {
  margin-top: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3 {
  margin-bottom: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3 {
  margin-left: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3 {
  margin-right: 3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_1 {
  margin: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_1 {
  margin-top: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_1 {
  margin-bottom: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_1 {
  margin-left: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_1 {
  margin-right: 3.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_2 {
  margin: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_2 {
  margin-top: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_2 {
  margin-bottom: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_2 {
  margin-left: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_2 {
  margin-right: 3.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_3 {
  margin: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_3 {
  margin-top: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_3 {
  margin-bottom: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_3 {
  margin-left: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_3 {
  margin-right: 3.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_4 {
  margin: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_4 {
  margin-top: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_4 {
  margin-bottom: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_4 {
  margin-left: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_4 {
  margin-right: 3.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_5 {
  margin: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_5 {
  margin-top: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_5 {
  margin-bottom: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_5 {
  margin-left: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_5 {
  margin-right: 3.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_6 {
  margin: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_6 {
  margin-top: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_6 {
  margin-bottom: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_6 {
  margin-left: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_6 {
  margin-right: 3.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_7 {
  margin: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_7 {
  margin-top: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_7 {
  margin-bottom: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_7 {
  margin-left: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_7 {
  margin-right: 3.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_8 {
  margin: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_8 {
  margin-top: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_8 {
  margin-bottom: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_8 {
  margin-left: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_8 {
  margin-right: 3.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-3_9 {
  margin: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-3_9 {
  margin-top: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-3_9 {
  margin-bottom: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-3_9 {
  margin-left: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-3_9 {
  margin-right: 3.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4 {
  margin: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4 {
  margin-top: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4 {
  margin-bottom: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4 {
  margin-left: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4 {
  margin-right: 4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_1 {
  margin: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_1 {
  margin-top: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_1 {
  margin-bottom: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_1 {
  margin-left: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_1 {
  margin-right: 4.1em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_2 {
  margin: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_2 {
  margin-top: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_2 {
  margin-bottom: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_2 {
  margin-left: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_2 {
  margin-right: 4.2em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_3 {
  margin: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_3 {
  margin-top: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_3 {
  margin-bottom: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_3 {
  margin-left: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_3 {
  margin-right: 4.3em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_4 {
  margin: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_4 {
  margin-top: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_4 {
  margin-bottom: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_4 {
  margin-left: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_4 {
  margin-right: 4.4em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_5 {
  margin: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_5 {
  margin-top: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_5 {
  margin-bottom: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_5 {
  margin-left: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_5 {
  margin-right: 4.5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_6 {
  margin: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_6 {
  margin-top: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_6 {
  margin-bottom: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_6 {
  margin-left: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_6 {
  margin-right: 4.6em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_7 {
  margin: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_7 {
  margin-top: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_7 {
  margin-bottom: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_7 {
  margin-left: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_7 {
  margin-right: 4.7em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_8 {
  margin: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_8 {
  margin-top: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_8 {
  margin-bottom: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_8 {
  margin-left: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_8 {
  margin-right: 4.8em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-4_9 {
  margin: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-4_9 {
  margin-top: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-4_9 {
  margin-bottom: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-4_9 {
  margin-left: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-4_9 {
  margin-right: 4.9em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-5 {
  margin: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-t-5 {
  margin-top: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-b-5 {
  margin-bottom: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-l-5 {
  margin-left: 5em; }

/* line 14, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/utils/style/margin/margins.scss */
.m-r-5 {
  margin-right: 5em; }

/*# sourceMappingURL=margins.css.map */