navbar.navbar {
    height: 100%;
    
    ul.nav.navbar-nav.navbar-first-level {
        
        li:hover > a {
            background-color: #333333;
            color: #F8F8F8;
        }
        
        li.active {
            > a {
                font-weight: bold;
            }
        }
        
        > li {
            width: 100%;
            
            
            
            &:not(:first-child){
                border-top: thin solid silver;
            }
            
            > .nav.navbar-nav.navbar-second-level {
                display: none;
                width: 100%;
                
                > li {
                    width: 100%;
                    
                    > a {
                        padding-left: 2em;
                    }
                }
            }
            
            &.active > .nav.navbar-nav.navbar-second-level {
                display: block;
                
                > li {
                    &:hover > a {
                        background-color: #555555;
                    }

                    &:not(:first-child){
                        border-top: thin dotted grey;
                    }
                    
                    > a {
                        background-color: #F1F1f1;
                    }
                }
            }
        }
    }
}