<div class="sidebar-nav" id="sidebar-nav" ng-controller="NavbarController as ctrl">
    <div class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav navbar-first-level">
            <li class="{{ctrl.isActiveMainRoute('/home') ? 'active' : ''}}">
                <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
            </li>
            <li class="{{ctrl.isActiveMainRoute('/setup') ? 'active' : ''}}">
                <a href="/setup"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Setup</a>
                <ul class="nav navbar-nav navbar-second-level">
                    <li class="{{ctrl.isActiveSubroute('/setup/category') ? 'active' : ''}}"><a href="/setup/category"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Categories</a></li>
                    <li class="{{ctrl.isActiveSubroute('/setup/set') ? 'active' : ''}}"><a href="/setup/set"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Sets</a></li>
                    <li class="{{ctrl.isActiveSubroute('/setup/question') ? 'active' : ''}}"><a href="/setup/question"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Questions</a></li>
                </ul>
            </li>
            <li class="{{ctrl.isActiveMainRoute('/execution') ? 'active' : ''}}">
                <a href="/execution"><span class="glyphicon glyphicon-play-circle"></span>
&nbsp;Execution</a>
                <ul class="nav navbar-nav navbar-second-level">
                    <li class="{{ctrl.isActiveSubroute('/execution/result') ? 'active' : ''}}"><a href="/execution/result">Results</a></li>
                </ul>
            </li>
            <li class="{{ctrl.isActiveMainRoute('/preferences') ? 'active' : ''}} hidden">
                <a href="/preferences"><span class="glyphicon glyphicon-cog"></span>&nbsp;Preferences</a>
            </li>
            <li>
                <a href="#" ng-click="ctrl.logout()"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a>
            </li>
        </ul>
    </div>
</div>