/* line 1, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
navbar.navbar {
  height: 100%; }
  /* line 6, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
  navbar.navbar ul.nav.navbar-nav.navbar-first-level li:hover > a {
    background-color: #333333;
    color: #F8F8F8; }
  /* line 12, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
  navbar.navbar ul.nav.navbar-nav.navbar-first-level li.active > a {
    font-weight: bold; }
  /* line 17, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
  navbar.navbar ul.nav.navbar-nav.navbar-first-level > li {
    width: 100%; }
    /* line 22, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
    navbar.navbar ul.nav.navbar-nav.navbar-first-level > li:not(:first-child) {
      border-top: thin solid silver; }
    /* line 26, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
    navbar.navbar ul.nav.navbar-nav.navbar-first-level > li > .nav.navbar-nav.navbar-second-level {
      display: none;
      width: 100%; }
      /* line 30, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
      navbar.navbar ul.nav.navbar-nav.navbar-first-level > li > .nav.navbar-nav.navbar-second-level > li {
        width: 100%; }
        /* line 33, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
        navbar.navbar ul.nav.navbar-nav.navbar-first-level > li > .nav.navbar-nav.navbar-second-level > li > a {
          padding-left: 2em; }
    /* line 39, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
    navbar.navbar ul.nav.navbar-nav.navbar-first-level > li.active > .nav.navbar-nav.navbar-second-level {
      display: block; }
      /* line 43, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
      navbar.navbar ul.nav.navbar-nav.navbar-first-level > li.active > .nav.navbar-nav.navbar-second-level > li:hover > a {
        background-color: #555555; }
      /* line 47, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
      navbar.navbar ul.nav.navbar-nav.navbar-first-level > li.active > .nav.navbar-nav.navbar-second-level > li:not(:first-child) {
        border-top: thin dotted grey; }
      /* line 51, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/components/navbar/navbar.scss */
      navbar.navbar ul.nav.navbar-nav.navbar-first-level > li.active > .nav.navbar-nav.navbar-second-level > li > a {
        background-color: #F1F1f1; }

/*# sourceMappingURL=navbar.css.map */