/* line 4, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/run/execution.run.scss */
.execution-run .panel-danger .panel-footer {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

/*# sourceMappingURL=execution.css.map */