<div class="row">
    <div class="col-sm-12">
        <div class="row form-horizontal exec-filter">
            <div class="col-lg-4 form-group">
                <label for="" class="col-sm-3 control-label">Set</label>
                <div class="col-sm-9">
                    <input type="search" class="form-control" placeholder="" ng-model="ctrl.setFilter">
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <label for="" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9" uib-dropdown="" uib-keyboard-nav="">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle="" title="{{ctrl.selectedCategory.description}}">{{ctrl.selectedCategory.name}} <span class="caret"></span></button>
                    <ul class="uib-dropdown-menu">
                        <li title="{{category.description}}" ng-repeat="category in ctrl.categories" ng-click="ctrl.selectCategory(category)"><a href="#">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <label for="" class="col-sm-3 control-label">Run Type</label>
                <div class="col-sm-9 btn-group" uib-dropdown="" uib-keyboard-nav="">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle="">{{ctrl.runTypes[ctrl.selectedRunType]}} questions <span class="caret"></span></button>
                    <ul class="uib-dropdown-menu">
                        <li ng-repeat="(key, value) in ctrl.runTypes" ng-click="ctrl.selectedRunType = key"><a href="#">{{value}} questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row exec-choice">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Set</th>
                            <th>Category</th>
                            <th>Questions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entry in ctrl.entries | filter: {name: ctrl.setFilter}">
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" title="{{entry.description}}"
                                            checklist-model="ctrl.selectedSets" checklist-value="entry.name">{{entry.name}}
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="cat in entry.categories" title="{{cat.description}}">{{cat.name}}</div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-8">Amount:</div>
                                    <div class="col-sm-4 text-right">{{entry.statistics.amount}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">Answered:</div>
                                    <div class="col-sm-4 text-right">{{entry.statistics.answered}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">Failed:</div>
                                    <div class="col-sm-4 text-right">{{entry.statistics.failed}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">Not answered:</div>
                                    <div class="col-sm-4 text-right">{{entry.statistics.notAnswered}}</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row exec-submit"> 
            <div class="col-sm-2 col-sm-offset-8 text-right">
                <button type="button" class="btn btn-default" ng-click="ctrl.reset()">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="ctrl.execute()">Execute</button>
            </div>
        </div>
    </div>
</div>