/* line 1, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/main/main.scss */
.thing-form {
  margin: 20px 0; }

/* line 5, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/main/main.scss */
#banner {
  border-bottom: none;
  margin-top: -20px; }

/* line 10, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/main/main.scss */
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px; }

/* line 16, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/main/main.scss */
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9; }

/* line 25, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/main/main.scss */
.navbar-text {
  margin-left: 15px; }

/*# sourceMappingURL=main.css.map */