<article class="overview">
    <header>
        <h3 class="m-t-0 m-b-1">Small application to train multiple choice questions.</h3>
    </header>
    <section class="p-b-1">
        <h4>Features</h4>
        <div class="p-l-0_5">
            <h5><b>Create and edit</b></h5>
            <dl class="m-l-2">
                <dt>Categories</dt>
                <dd class="m-l-2">
                    Collection for one bigger topic like a specific product (e.g. AEM 6.1).
                </dd>
                <dt>Sets</dt>
                <dd class="m-l-2">
                    Collection of questions. E.g. all questions related to one specific topic.
                    <br> Each set can be assigned to multiple categories.
                </dd>
                <dt>Questions</dt>
                <dd class="m-l-2">
                    Question to answer. Can have radio or checkbox answers.
                    <br> Each question can be part of one or more sets.
                </dd>
            </dl>
        </div>
        <div class="p-l-0_5">
            <h5><b>Execute a multiple choice test</b></h5>
            <p>One or more sets can be selected.</p>
            <p>Displayed sets can be filtered by fulltext search or category.</p>
            <p>Questions to test can be filtered by</p>
            <ul>
                <li><b>All</b>: All questions are taken</li>
                <li><b>Failed</b>: All questions where the answer was wrong</li>
                <li><b>Not answers</b>: All questions which were not yet answered</li>
                <li><b>Not answered or failed</b>: All questions which were not answered or where the answer was wrong</li>
            </ul>
        </div>
        <div class="p-l-0_5">
            <h5><b>Show test results</b></h5>
            <p>Result of executed tests can be displayed</p>
            <p>For a certain test run choosen answere(s) and if it/they is/are correct or wrong can be seen.</p>
            <p>Information about the test run are displayed.</p>
        </div>
        <div class="p-l-0_5">
            <h5><b>User handling</b></h5>
            <p>Creating and authenticating users is possible</p>
        </div>
    </section>
    <section>
        <h4>Changelog</h4>
        <div>
            <h5><b>0.5 beta</b></h5>
            <p>Creating and editing of categories, sets and questions implemented</p>
            <p>Executing a test run implemented</p>
            <p>Viewing test run results implemented</p>
            <p>User handling implemented</p>
        </div>
    </section>
</article>