<!-- Controller: ExecutionNextQuestionModalController as ctrl -->
<div class="execution-next-question-modal-main">
    <div class="modal-header">
        <h3 class="modal-title">Correct</h3>
    </div>
    <div class="modal-body">
        Your selcted answer is correct.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary{{ctrl.waitingForResponse ? ' disabled' : ''}}" type="button" ng-click="ctrl.nextQuestion()">OK</button>
    </div>
</div>