/* line 2, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/setup/add-question/add-question.scss */
.add-question-main .fieldset-sets > div {
  border: thin solid #cccccc;
  border-radius: 4px;
  padding: 0.5em; }

/*# sourceMappingURL=add-question.css.map */