<!-- Controller: AddQuestionCtrl as ctrl -->
<div class="add-question-main">
    <div class="modal-header">
        <h3 class="modal-title">Add Question</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="alert alert-danger" ng-if="ctrl.errorMessages && ctrl.errorMessages.length > 0">
                <ul>
                    <li ng-repeat="errorMsg in ctrl.errorMessages">{{errorMsg}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="question" class="col-sm-3 control-label">Question <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Question Name" ng-model="ctrl.question">
                </div>
            </div>
            <div class="form-group">
                <label for="questionType" class="col-sm-3 control-label">Type <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" value="radio" ng-model="ctrl.questionType" ng-change="ctrl.onTypeChange()">Radio</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="checkbox" ng-model="ctrl.questionType" ng-change="ctrl.onTypeChange()">Checkbox</label>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="questionAnswers" class="col-sm-3 control-label">Answers <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
                <div class="col-sm-9">
                    <div class="row" ng-if="ctrl.questionAnswers.length > 0">
                        <div class="col-sm-12 fieldset-sets">
                            <div>
                                <div ng-repeat="answer in ctrl.questionAnswers">{{answer}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="New Answer..." ng-model="ctrl.newAnswer">
                        </div>
                        <div class="col-sm-3 text-left">
                            <button type="button" class="btn btn-primary" style="width:100%" ng-click="ctrl.addAnswer()">Add Answer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="questionDescription" class="col-sm-3 control-label">Correct Answer <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
                <div class="col-sm-9">
                    <select ng-model="ctrl.questionCorrectAnswer" class="form-control" ng-if="ctrl.questionType === 'radio'">
                        <option ng-repeat="answer in ctrl.questionAnswers" value="{{answer}}">{{answer}}</option>
                    </select>
                    <div ng-if="ctrl.questionType === 'checkbox'" class="fieldset-sets">
                        <div>
                            <div class="checkbox" ng-repeat="answer in ctrl.questionAnswers">
                                <label>
                                    <input type="checkbox" checklist-model="ctrl.questionCorrectAnswer" checklist-value="answer">{{answer}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="questionDescription" class="col-sm-3 control-label">Sets <span class="glyphicon glyphicon-asterisk mandatory"></span></label>
                <div class="col-sm-9">
                    <div class="row" ng-if="ctrl.selectedSets.length > 0">
                        <div class="col-sm-12 fieldset-sets">
                            <div>
                                <div class="row" ng-repeat="set in ctrl.selectedSets">
                                    <div class="col-sm-4" title="{{set.description}}">
                                        {{set.name}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{set.description}}
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm" ng-click="ctrl.removeSet(set)"><span class="glyphicon glyphicon-remove-circle">&nbsp;Delete</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9 text-right">
                            <div class="btn-group" uib-dropdown uib-keyboard-nav>
                                <button type="button" class="btn btn-primary {{ctrl.unselectedSets.length === 0 ? 'disabled' : ''}}" uib-dropdown-toggle>
                                    Add Set <span class="caret"></span>
                                </button>
                                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li role="menuitem" ng-repeat="set in ctrl.unselectedSets" ng-click="ctrl.addSet(set)"><a href="#" title="{{set.description}}">{{set.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ctrl.addQuestion()">OK</button>
                <button class="btn" type="button" ng-click="ctrl.closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>