<!-- Controller: EditCategoryCtrl as ctrl -->
<div class="add-category-main">
    <div class="modal-header">
        <h3 class="modal-title">Edit Category {{ctrl.categoryName}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="categoryName" class="col-sm-3 control-label">Category Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="categoryName" placeholder="Category Name" ng-model="ctrl.categoryName" required="" name="categoryName">
                </div>
            </div>
            <div class="form-group">
                <label for="categoryDescription" class="col-sm-3 control-label">Category Description</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="categoryDescription" placeholder="Category Description" name="categoryDescription" ng-model="ctrl.categoryDescription">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.updateCategory()">Update</button>
        <button class="btn" type="button" ng-click="ctrl.closeModal()">Cancel</button>
    </div>
</div>