/* line 2, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/setup/add-set/add-set.scss */
div.add-set-main div.fieldset-categories > div {
  border: 1px solid #ccc;
  border-radius: 4px; }
  /* line 6, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/setup/add-set/add-set.scss */
  div.add-set-main div.fieldset-categories > div > .row {
    padding: 0.5em; }

/*# sourceMappingURL=add-set.css.map */