/* line 2, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/result/execution.result.scss */
.execution-result .execution-result-list:not(:first-child) {
  border-top: thin dotted black;
  padding-top: 5px;
  padding-bottom: 5px; }
  /* line 7, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/result/execution.result.scss */
  .execution-result .execution-result-list:not(:first-child) .execution-result-success {
    background-color: #A1D490; }
  /* line 10, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/result/execution.result.scss */
  .execution-result .execution-result-list:not(:first-child) .execution-result-fail {
    background-color: #D4A190; }
  /* line 13, E:/Users/liebichs/Documents/Trainings/AEM 6.1/app_ng_fullstack/client/app/execution/result/execution.result.scss */
  .execution-result .execution-result-list:not(:first-child) .execution-result-real-right {
    background-color: #C390D4; }

/*# sourceMappingURL=execution.result.css.map */