.execution-result {
	.execution-result-list:not(:first-child) {
		border-top: thin dotted black;
		padding-top: 5px;
		padding-bottom: 5px;
		
		.execution-result-success {
			background-color: #A1D490;
		}
		.execution-result-fail {
			background-color: #D4A190;
		}
		.execution-result-real-right {
			background-color: #C390D4;
		}
	}
	
}