<div class="row execution-result" ng-if="!ctrl.isOverview">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h2>Results</h2>
                <h3>Executed at {{ctrl.resultData.date | date: 'dd.MM.yyyy HH.mm'}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 lead"><strong>Sets</strong></div>
            <div class="col-sm-2 lead"><strong>Questions</strong></div>
            <div class="col-sm-2 lead"><strong>Correct</strong></div>
            <div class="col-sm-2 lead"><strong>Failed</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><p ng-repeat="set in ctrl.resultData.sets">{{set}}</p></div>
            <div class="col-sm-2"><p>Total: {{ctrl.resultData.meta.total}}</p><p>Answered: {{ctrl.resultData.meta.answered}}</p></div>
            <div class="col-sm-2">{{ctrl.resultData.meta.correct}}</div>
            <div class="col-sm-2">{{ctrl.resultData.meta.failed}}</div>
        </div>
        <div class="row m-t-2">
            <div class="col-sm-5"><strong>Question</strong></div>
            <div class="col-sm-5"><strong>Chosen Answers</strong></div>
            <div class="col-sm-2"><strong>Result</strong></div>
        </div>
        <div class="row execution-result-list" ng-repeat="quest in ctrl.resultData.mappedAnswers">
            <div class="col-sm-5">{{ quest.question }}</div>
            <div class="col-sm-5">
				<p ng-repeat="answer in quest.answer" ng-class="answer.cls">{{ answer.answer }}</p>
            </div>
            <div class="col-sm-2"><span class="glyphicon glyphicon-{{ quest.result === 'success' ? 'ok' : 'remove'}}"></span></div>
        </div>
    </div>
</div>


<div class="row execution-result" ng-if="ctrl.isOverview">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Sets</th>
                    <th>Questions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, data) in ctrl.overviewData">
                    <td>{{data.date | date:'dd.MM.yyyy HH:mm'}}</td>
                    <td><p ng-repeat="set in data.sets">{{set}}</p></td>
                    <td>
                        <div class="row">
                            <div class="col-sm-5">Total</div>
                            <div class="col-sm-2">{{data.meta.total}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">Answered</div>
                            <div class="col-sm-2">{{data.meta.answered}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">Correct</div>
                            <div class="col-sm-2">{{data.meta.correct}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">Failed</div>
                            <div class="col-sm-2">{{data.meta.failed}}</div>
                        </div>
                    </td>
                    <td><p><button type="button" class="btn btn-default" ng-click="ctrl.showResult(key)">Show result</button></p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>