<div class="set-main" ng-controller="QuestionCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Type</th>
                        <th>Answers</th>
                        <th>Correct Answer</th>
                        <th>Sets</th>
                        <th>Statistics</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in ctrl.questions">
                        <td ng-bind-html="question.question">{{question.question}}</td>
                        <td>{{question.type}}</td>
                        <td>
                            <div ng-repeat="answer in question.answers">{{answer}}</div>
                        </td>
                        <td>
                            <div ng-if="question.type === 'radio'">{{question.correctAnswer}}</div>
                            <div ng-if="question.type === 'checkbox'" ng-repeat="correctAnswer in question.correctAnswer">
                            </div>
                        </td>
                        <td>
                            <div class="question-sets" ng-repeat="set in question.sets" data-toggle="tooltip" data-placement="right" title="{{set.description}}">{{set.name}}</div>
                        </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-sm" ng-click="ctrl.editQuestion(question)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                            </button>
                            <button type="button" class="btn btn-sm" ng-click="ctrl.deleteQuestion(question.question)">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-10 col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-default" ng-click="ctrl.callAddQuestionModal()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Question</button>
        </div>
    </div>
</div>