<!-- Controller: EditSetCtrl as ctrl -->
<div class="edit-set-main">
    <div class="modal-header">
        <h3 class="modal-title">Edit Set {{ctrl.setName}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="alert alert-danger" ng-if="ctrl.errorMessages && ctrl.errorMessages.length > 0">
                <ul>
                    <li ng-repeat="errorMsg in ctrl.errorMessages">{{errorMsg}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="setName" class="col-sm-3 control-label">Set Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setName" placeholder="Set Name" ng-model="ctrl.setName" required="" name="setName">
                </div>
            </div>
            <div class="form-group">
                <label for="setDescription" class="col-sm-3 control-label">Set Description</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setDescription" placeholder="Set Description" name="setDescription" ng-model="ctrl.setDescription">
                </div>
            </div>
            <div class="form-group">
                <label for="setDescription" class="col-sm-3 control-label">Set Categories</label>
                <div class="col-sm-9">
                    <div class="row" ng-if="ctrl.selectedCategories.length > 0">
                        <div class="col-sm-12 fieldset-categories">
                            <div>
                                <div class="row" ng-repeat="category in ctrl.selectedCategories">
                                    <div class="col-sm-3" title="{{category.description}}">
                                        {{category.name}}
                                    </div>
                                    <div class="col-sm-7">
                                        {{category.description}}
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm" ng-click="ctrl.removeCategory(category)"><span class="glyphicon glyphicon-remove-circle">&nbsp;Delete</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9 text-right">
                            <div class="btn-group" uib-dropdown uib-keyboard-nav>
                                <button id="simple-btn-keyboard-nav {{ctrl.unselectedCategories.length === 0 ? 'disabled' : ''}}" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    Add Category <span class="caret"></span>
                                </button>
                                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li role="menuitem" ng-repeat="category in ctrl.unselectedCategories" ng-click="ctrl.addCategory(category)"><a href="#" title="{{category.description}}">{{category.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.updateSet()">Update</button>
        <button class="btn" type="button" ng-click="ctrl.closeModal()">Cancel</button>
    </div>
</div>