<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-12">
                <legend>Login</legend>
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" placeholder="Enter username..." ng-model="ctrl.username">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Enter password..." ng-model="ctrl.password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="ctrl.login()">Login</button>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-default" ng-click="ctrl.register()">Register</button>
            </div>
        </div>
    </div>
</div>